<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>User Details</title>
</head>
<body>

<th:block th:include="~{fragments/small-navbar}"></th:block>

<form class="form" th:action="@{/users/delete/{id}(id=${user.getId()})}" th:object="${user}" method="post">
    <button type="submit" class="btn btn-danger btn-lg float-right" value="DELETE"><i class="fa fa-fw fa-trash"></i>
        DELETE
    </button>
</form>

<!-- Button trigger modal -->
<button type="button" class="btn btn-dark btn-lg float-right" data-toggle="modal" data-target="#updateform"
        value="UPDATE"><i class="fa fa-fw fa-user"></i> UPDATE
</button>
<!-- Modal -->
<div class="modal fade" id="updateform" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update user Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update" th:action="@{/update/{id}(id=${user.getId()})}" th:object="${user}"
                      method="post">
                    <div class="col-7">
                        <label for="username" th:text="#{user.header.username}">Username:</label>
                        <span th:text="${user.getUsername()}">Name</span>
                        <input hidden type="text" id="username" class="form-control" name="username"
                               th:field="*{username}"
                               th:placeholder="username" autofocus autocomplete required min="3" max="50"/>
                    </div>
                    <br>
                    <div class="col-7">
                        <label for="password" style="color: red" th:errors="*{password}"
                               th:text="#{user.invalidPassword}">Password
                            error</label>
                        <label for="password">Password:</label>
                        <input type="password" id="password" class="form-control" th:field="*{password}" name="password"
                               th:placeholder="password" autofocus th:autocomplete="off" required minlength="4"/>
                        <small class="text-muted">Must be more than 3 characters long.</small>
                    </div>
                    <br/>
                    <div class="col-7">
                        <label for="email" style="color: red" th:errors="*{email}" th:text="#{user.invalidEmail}">Email
                            error</label>
                        <label for="email" th:text="#{user.header.email}">Email:</label>
                        <input type="email" id="email" class="form-control" name="email" th:field="*{email}"
                               th:placeholder="email" autocomplete required min="10" max="50"/>
                        <small class="text-muted">Must be 10-50 characters long.</small>
                    </div>
                    <br>
                    <div class="col-7">
                        <label for="photo" th:text="#{user.header.photo}">Photo:</label>
                        <input type="url" id="photo" class="form-control" name="photo" th:field="*{photo}"
                               th:placeholder="photo" autocomplete/>
                        <small class="text-muted">Must be URL address.</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="update" class="btn btn-dark"><i class="fa fa-fw fa-user"></i> Update
                </button>
            </div>
        </div>
    </div>
</div>

<div>
    <h2 th:text="#{currentUserTable.header}">User Details</h2>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img th:attr="src=${user.getPhoto()},title=${user.getPhoto()},alt=${user.getPhoto()}" class="card-img"
                     alt="User">
            </div>
            <div class="card-body">
                <h3 class="card-title" th:text="${user.getUsername()}">User name</h3>
                <label>ID:</label>
                <span class="card-text btn btn-primary btn-sm rounded-pill" th:text="${user.getId()}">Id</span>
            </div>
            <div class="list-group-item">
                <label>Email:</label>
                <span class="card-text btn btn-info btn-sm rounded-pill" th:text="${user.getEmail()}">Email</span>
            </div>
            <div class="list-group-item">
                <label>Top 3 most ranked beers</label>
                <div th:if="${getTop3MostRankedBeers.isEmpty()}">
                    <h5 th:text="#{userTable.header.noBeers}">There are no beers</h5>
                </div>
                <div th:unless="${getTop3MostRankedBeers.isEmpty()}">
                    <div th:each="beer : ${getTop3MostRankedBeers}">
                        <p class="btn btn-success btn-sm rounded-pill" th:text="${beer.getName()}">Name</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
