<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>BEERS</title>
</head>

<body>
<div th:id="navbar">
    <th:block th:include="~{fragments/small-navbar}"></th:block>
</div>

<div>
    <div sec:authorize="isAuthenticated()" class="btn-group">
        <button type="button" class="btn btn-secondary btn-lg">SORT</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/beers/sorted/{param}(param=${queryParam})}">Sort by name ASC</a>
            <a class="dropdown-item" th:href="@{/beers/sorted/{param}(param=${queryParam1})}">Sort by name DESC</a>
            <a class="dropdown-item" th:href="@{/beers/sorted/{param}(param=${queryParam2})}">Sort by ABV ASC</a>
            <a class="dropdown-item" th:href="@{/beers/sorted/{param}(param=${queryParam3})}">Sort by ABV DESC</a>
            <a class="dropdown-item" th:href="@{/beers/sorted/{param}(param=${queryParam4})}">Sort by rating ASC</a>
            <a class="dropdown-item" th:href="@{/beers/sorted/{param}(param=${queryParam5})}">Sort by rating DESC</a>
        </div>
    </div>

    <form sec:authorize="isAuthenticated()" id="form" th:action="@{/beers/filtered}">
        <label class="btn btn-primary btn-sm rounded-pill" th:for="tag">TAG: </label>
        <select th:form="form" id="tag" th:name="tag" multiple>
            <option value="NONE" selected>NONE</option>
            <option th:each="currentTag : ${tags}" th:value="${currentTag.getName()}" th:text="${currentTag.getName()}">
            </option>
        </select>

        <label class="btn btn-primary btn-sm rounded-pill" th:for="style">STYLE: </label>
        <select th:form="form" id="style" th:name="style" multiple>
            <option value="NONE" selected>NONE</option>
            <option th:each="currentStyle : ${styles}" th:value="${currentStyle.getName()}"
                    th:text="${currentStyle.getName()}">
            </option>
        </select>

        <label class="btn btn-primary btn-sm rounded-pill" th:for="country">COUNTRIES: </label>
        <select th:form="form" id="country" th:name="country" multiple>
            <option value="NONE" selected>NONE</option>
            <option th:each="currentCountry : ${countries}" th:value="${currentCountry.getName()}"
                    th:text="${currentCountry.getName()}">
            </option>
        </select>

        <label class="btn btn-primary btn-sm rounded-pill" th:for="rating">RATING: </label>
        <select th:form="form" id="rating" th:name="rating" multiple>
            <option value="0" selected>NONE</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>

        <label class="btn btn-primary btn-sm rounded-pill" th:for="status">STATUS: </label>
        <select th:form="form" id="status" th:name="status" multiple>
            <option value="NONE" selected>NONE</option>
            <option value="I want it!">WANT</option>
            <option value="I already drank it!">DRANK</option>
        </select>

        <input type="submit" class="btn btn-secondary btn-lg" value="FILTER">
    </form>

    <!-- Button trigger modal -->
    <button sec:authorize="isAuthenticated()" type="button" class="btn btn-info btn-lg" data-toggle="modal"
            data-target="#createBeer"
            value="CREATE"><i class="fa fa-fw fa-beer"></i> CREATE
    </button>

    <!-- Modal -->
    <div class="modal fade" id="createBeer" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create beer Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="create" th:action="@{/beers/create}"
                          th:object="${beerDTO}"
                          method="post">
                        <div class="col-7">
                            <label for="beername" style="color: red" th:errors="*{name}"
                                   th:text="#{beer.invalidBeername}">Beer
                                name
                                error</label>
                            <label for="beername" th:text="#{message.beer.name}">Name:</label>
                            <input type="text" id="beername" class="form-control" name="beername" th:field="*{name}"
                                   th:placeholder="beername" autofocus th:autocomplete="off" required minlength="3"
                                   maxlength="50"/>
                            <small class="text-muted">Must be 3-50 characters long.</small>
                        </div>
                        <br>
                        <div class="col-7">
                            <label for="abv" style="color: red" th:errors="*{abv}" th:text="#{beer.header.beerAbv}">ABV
                                error</label>
                            <label for="abv">ABV:</label>
                            <input type="number" min="0" step="0.1" id="abv" class="form-control" th:field="*{abv}"
                                   th:placeholder="ABV" name="abv" autocomplete required/>
                            <small class="text-muted">Must be min 0.0 value.</small>
                        </div>
                        <br/>
                        <div class="col-7">
                            <label for="description" style="color: red" th:errors="*{description}"
                                   th:text="#{beer.invalidBeerDescription}">Description
                                error</label>
                            <label for="description" th:text="#{table.beer.description}">Description:</label>
                            <input type="text" id="description" class="form-control" name="description"
                                   th:field="*{description}"
                                   th:placeholder="description" autocomplete/>
                        </div>
                        <br>
                        <div class="col-7">
                            <label for="photo" th:text="#{message.beer.photo}">Photo:</label>
                            <input type="url" id="photo" class="form-control" name="photo" th:field="*{photo}"
                                   th:placeholder="photo" autocomplete/>
                            <small class="text-muted">Must be URL address.</small>
                        </div>
                        <br>
                        <div class="col-7">
                            <label for="styles" th:text="#{beer.style}">Style:</label>
                            <select id="styles" th:field="*{style}">
                                <option th:each="style : ${styles}"
                                        th:value="${style.getName()}" th:text="${style.getName()}"></option>
                            </select>
                        </div>
                        <br>
                        <div class="col-7">
                            <label for="brewery" th:text="#{message.beer.brewery}">Brewery:</label>
                            <input type="text" id="brewery" class="form-control" name="brewery" th:field="*{brewery}"
                                   th:placeholder="brewery" th:autocomplete="off" required minlength="3"
                                   maxlength="50"/>
                            <small class="text-muted">Must be 3-50 characters long.</small>
                        </div>
                        <br>
                        <div class="col-7">
                            <label for="countries" th:text="#{beer.country}">Country:</label>
                            <select id="countries" th:field="*{originCountry}">
                                <option th:each="country : ${countries}"
                                        th:value="${country.getName()}" th:text="${country.getName()}"></option>
                            </select>
                        </div>
                        <br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="create" class="btn btn-info"><i class="fa fa-fw fa-beer"></i> Create
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${beersList.isEmpty()}">
        <h2 th:text="#{userTable.header.noBeers}">There are no beers</h2>
    </div>
    <div th:unless="${beersList.isEmpty()}">

        <h2 th:text="#{currentBeerTable.header}">Beers</h2>

        <table class="table table-striped table-bordered table-hover table-responsive">
            <thead class="thead-dark">
            <tr>
                <th scope="col">IMAGE</th>
                <th scope="col">BEER NAME</th>
                <th scope="col">BREWERY</th>
                <th scope="col">STYLE</th>
                <th scope="col">COUNTRY</th>
                <th scope="col">ABV</th>
                <th scope="col">RATING</th>
                <th sec:authorize="isAuthenticated()" scope="col">BUTTONS</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="beer : ${beersList}">
                <td>
                    <div class="card" style="width: 18rem;">
                        <img th:attr="src=${beer.getPhoto()},title=${beer.getPhoto()},alt=${beer.getPhoto()}"
                             class="card-img" alt="Beer">
                    </div>
                </td>
                <th>
                    <span class="btn btn-info btn-sm rounded-pill" scope="row" th:text="${beer.getName()}">Name></span>
                </th>
                <td>
                    <span class="btn btn-info btn-sm rounded-pill"
                          th:text="${beer.getBrewery().getName()}">Brewery></span>
                </td>
                <td>
                    <span class="btn btn-info btn-sm rounded-pill" th:text="${beer.getStyle().getName()}">Style></span>
                </td>
                <td>
                <span class="btn btn-info btn-sm rounded-pill"
                      th:text="${beer.getOriginCountry().getName()}">Country></span>
                </td>
                <td>
                <span class="btn btn-danger btn-sm rounded-pill"
                      th:text="${#strings.append (beer.getAbv(), '%')}">Abv></span>
                </td>
                <td>
                    <span class="btn btn-danger btn-sm rounded-pill" th:text="${beer.getAverageRating()}">Rating></span>
                </td>
                <td sec:authorize="isAuthenticated()">
                    <form class="form" th:action="@{/beers/{id}(id=${beer.getId()})}" th:object="${beer}" method="get">
                        <button type="submit" class="btn btn-info btn-lg" value="BEER DETAILS"><i
                                class="fa fa-fw fa-beer"></i> BEER DETAILS
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
