<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Home page</title>
</head>

<body>
<h1 align="center" th:text="#{home.welcome}">BEER TAG WEB APPLICATION (design)</h1>

<th:block th:include="~{fragments/navbar}"></th:block>

<span>
    <img src="https://media1.giphy.com/media/3owvKdqtvMGzxmog6c/giphy.gif?cid=790b76118d7da67d54554b1579cb18fcc80692b602152b0f&rid=giphy.gif"
         class="rounded float-left" alt="beer">
</span>
<span>
    <img src="https://media0.giphy.com/media/3owvK76enxb4qbq5fG/giphy.gif?cid=790b76118d7da67d54554b1579cb18fcc80692b602152b0f&rid=giphy.gif"
         class="rounded float-left" alt="beer">
</span>
<span>
    <img src="https://media1.giphy.com/media/3owvJX1LTYUTUgnife/giphy.gif?cid=790b7611bc6c8bf31f305c97f0c42733296d1aeefd630481&rid=giphy.gif"
         class="rounded float-left" alt="beer">
</span>
</body>
</html>
