<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head"></th:block>
    <title>Register Confirmation</title>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center"><i class="fa fa-smile-o"> </i> You have successfully registered. Now you can login.</h1>
        <p class="text-center"><a class="btn btn-primary" href="/"><i class="fa fa-home"></i> Go Home</a></p>
    </div>
</div>
<div>
    <img src="https://media.giphy.com/media/3owvKmNZBAzvgZVDcQ/giphy.gif" class="rounded mx-auto d-block" alt="beer">
</div>
</body>
</html>