<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>ADD TAG</title>
</head>
<body>
<form class="form" th:action="@{/}" method="get">
    <input type="submit" class="btn btn-primary btn-lg" value="HOME">
</form>
<form id="create" th:action="@{/beers/addTag/{id}(id=${beer.getId()})}" th:object="${tag}" method="post">
    <br/>
    <label th:text="#{message.beer.tag}">Tag</label>
    <input type="text" th:name="name" autofocus required/>
    <br>
    <br>
    <input type="submit" class="btn btn-primary btn-lg" value="ADD TAG">
</form>
</body>
</html>
