<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <th:block th:include="~{fragments/head}"></th:block>-->
<!--    <title>Update User</title>-->
<!--</head>-->
<!--<body>-->
<!--<form class="form" th:action="@{/}" method="get">-->
<!--    <input type="submit" class="btn btn-primary btn-lg" value="HOME">-->
<!--</form>-->
<!--<form th:action="@{/users/update/{id}(id=${userToUpdate.getId()})}" th:object="${userToUpdate}" method="post">-->
<!--    <div class="col-2">-->
<!--        <label for="username" style="color: red" th:errors="*{username}" th:text="#{user.invalidUsername}">Username-->
<!--            error</label>-->
<!--        <label for="username" th:text="#{user.header.username}">Username:</label>-->
<!--        <input type="text" id="username" class="form-control" name="username" th:field="*{username}"-->
<!--               th:placeholder="username" autofocus autocomplete required min="3" max="50"/>-->
<!--        <small class="text-muted">Must be 3-50 characters long.</small>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div class="col-2">-->
<!--        <label for="email" style="color: red" th:errors="*{email}" th:text="#{user.invalidEmail}">Email error</label>-->
<!--        <label for="email" th:text="#{user.header.email}">Email:</label>-->
<!--        <input type="email" id="email" class="form-control" name="email" th:field="*{email}"-->
<!--               th:placeholder="username" autocomplete required min="10" max="50"/>-->
<!--        <small class="text-muted">Must be 10-50 characters long.</small>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div class="col-2">-->
<!--        <label for="photo" th:text="#{user.header.photo}">Photo:</label>-->
<!--        <input type="url" id="photo" class="form-control" name="photo" th:field="*{photo}"-->
<!--               th:placeholder="photo" autocomplete/>-->
<!--        <small class="text-muted">Must be URL address.</small>-->
<!--    </div>-->
<!--    <br>-->
<!--    <input type="submit" class="btn btn-primary btn-lg" value="UPDATE USER">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
